
main {
    background: url(./images/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: black;
    border: 5px solid white;
    background-size: contain;
    margin: 0px auto;
    /* background-size: 1100px; */
    /* display: flex; */
    background-position-x: center;
    
}


.logo img {
    display: block;
     margin: 0 auto;
     width: 60%;
    
    
}

 .container_1 {
    width: 60%;
    text-align: center;
    background: url(./images/transparent_white.png);
    margin: 50px auto;
    color: black;
    opacity: 0.8;
    padding: 20px 10px;

} 

